Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore

@yaphiet
0
0 0 AdamHG2411/wdi-fundamentals-memorygame
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Security  Insights
wdi-fundamentals-memorygame/memory_game/css/style.css
 Adam Grider created game logic
a033b22 on Dec 23, 2018
104 lines (89 sloc)  1.36 KB

body {
	margin: 0;
	text-align: center;
	text-decoration: none;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

main {
	margin: 35px auto;
	width: 850px;
}

footer {
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .08em;
	padding: 0 20px;
	text-transform: uppercase;
}

h1 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

a {
	border-bottom: 2px solid transparent;
	color: #FFFFFF;
	margin: 0 20px;
	text-decoration: none;
}

a:hover {
	border-color: white;
}

img {
	margin: 40px 8px 0 8px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 18px;
	padding: 20px 0;
	text-transform: uppercase;
}

.copyright {
	float: left;
	font-family: "Raleway";
}

.message {
	float: right;
	font-family: "Raleway";
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.reset {
	margin-top: 20px;
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
